<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    <!-- {{title}}은 템플릿 문법 중 하나인 인터폴레이션(interpolation)으로 컴포넌트 클래스의 데이터를 템플릿에 바인딩한다. 이것을 데이터 바인딩이라 한다. -->
    Welcome to {{title}}!!
  </h1>
</div>
<app-hello></app-hello>

<div class="container">
  <div class="row">
    <form class="form-inline">
      <div class="form-group" style="margin: 30px 0">
        <label for="name">Name:</label>
        <input #name type="text" id="name" class="form-control" placeholder="이름을 입력하세요">
        <label for="role">Role:</label>
        <select #role id="role" class="form-control">
          <option>Administrator</option>
          <option>Developer</option>
          <option>Designer</option>
        </select>
        <button
          class="btn btn-default"
          (click)="addUser(name.value, role.value)">Add user
        </button>
      </div>
      <app-user-list [users]="users"></app-user-list>
    </form>
  </div>
</div>
