<h1>Angular 데이터 바인딩</h1>

<p><b>인터폴레이션(Interpolation)</b></p>
<p>표현식을 두개의 중괄호로 열고 닫은 형식을 인터폴레이션이라 한다. 인터폴레이션은 단방향 바인딩에 사용되는 템플릿 문법으로 표현식의 평가 결과를 문자열로 변환하여 템플릭세 바인딩 한다.</p>
<p>형식 : '{{ expression }}'</p>
<br>
<p>name: {{ name }}</p>
<p>age: {{ age }}</p>
<p>admin: {{ admin }}</p>
<p>address: {{ address.city }} {{ address.country }}</p>
<p>sayHi(): {{ sayHi() }}</p>
<br>
<br>
<p><b>프로퍼티 바인딩(Property binding)</b></p>
<p>프로퍼티 바인딩은 컴포넌트 클래스의 데이터와 템플릿 간의 단방향 바인딩에 사용되는 템플릿 문법으로 표현식의 평가 결과를 DOM 프로퍼티에 바인딩합니다.</p>
<p>형식 : '<element [property]="expression">...</element>'</p>
<!-- value 프로퍼티에 컴포넌트 클래스의 name 프로퍼티 바인딩 -->
<p>value 프로퍼티에 컴포넌트 클래스의 name 프로퍼티 바인딩</p>
<input type="text" [value]="name1">
<p>인터폴레이션을 사용할 경우</p>
<input type="text" value="{{ name1 }}">
<!-- innerHTML 프로퍼티에 컴포넌트 클래스의 contents 프로퍼티 바인딩 -->
<p>innerHTML 프로퍼티에 컴포넌트 클래스의 contents 프로퍼티 바인딩</p>
<p [innerHTML]="contents"></p>
<!-- src 프로퍼티에 컴포넌트 클래스의 imageUrl 프로퍼티 바인딩 -->
<p>src 프로퍼티에 컴포넌트 클래스의 imageUrl 프로퍼티 바인딩</p>
<img [src]="imageUrl"><br>
<!-- disabled 프로퍼티 컴포넌트 클래스의 isUnchanged 프로퍼티 바인딩 -->
<p>disabled 프로퍼티 컴포넌트 클래스의 isUnchanged 프로퍼티 바인딩</p>
<button [disabled]="isDisabled">disabled button</button>
<br>
<br>
<p><b>어트리뷰트 바인딩</b></p>
<p>어트리뷰트 바인딩은 컴포넌트 클래스의 데이터와 템플릿 간의 단방향 바인딩에 사용되는 템플릿 문법으로 표현식의 평가 결과를 HTML 어트리뷰트에 바인딩합니다.</p>
<p>형식 : '<element [attr.attrbute-name]="expression">...</element>'</p>
<p>위 프로퍼티 바인딩과 차이점을 이해하기 위해서 HTML 어트리뷰트와 DOM 프로퍼티에 대해서 알아야 합니다.
어트리뷰트와 프로퍼티는 모두 속성으로 번역되어 같은 것으로 오해할 수 있지만 서로 다른 것입니다.
바인딩이 동작하는 방식을 이해하기 위해서는 HTML의 어트리뷰트와 프로퍼티의 차이를 아는 것이 중요합니다.
DOM 프로퍼티는 HTML 요소의 어브리뷰트와는 다릅니다. 브라우저는 HTML 문서를 파싱하여 DOM 트리로 변환하여 메모리에 적재합니다.
이 때 HTML 요소는 DOM 노드 객체로, HTML 어트리뷰트는 DOM 노드 객체의 프로퍼티로 변환됩니다.
HTML 어트리뷰트의 값은 언제나 문자열이지만 DOM 프로퍼티는 객체를 비롯하여 모든 값을 가질 수 있습니다.
어트리뷰트와 프로퍼티가 언제나 1:1로 매핑되는 것이 아니라는 점에 주의해야 합니다. 다음의 예를 참고하세요</p>
<br>
<p>id 어트리뷰트와 id 프로퍼티와 1:1 매핑</p>
<p>class 어트리뷰트는 classList 프로퍼티로 변환</p>
<p>td 요소의 colspan 어트리뷰트의 경우 매핑하는 프로퍼티가 존재하지 않음</p>
<p>textContent 프로퍼티의 경우 어트리뷰트가 존재하지 않음</p>
<p>input 요소의 value 어트리뷰트는 value 프로퍼티와 1:1 매핑하지만 서로 다르게 동작합니다.</p>
<br>
<p>다음의 input 요소는 3개의 어트리뷰트를 가지고 있습니다.
"<input id="user" type="text" value="ungmo2">"
브라우저가 이 코드를 파싱하면 DOM 노드 객체 HTMLInputElement가 생성되고 이 객체는 다양한 프로퍼티를 소유합니다. input 요소의 모든 어트리뷰트는 HTMLInputElement 객체의 attributes 프로퍼티로 변환되고 getAttribute()로 취득 가능합니다.</p>
